{% extends 'ups/base.html' %}

{% load static %}

{% block content %}



{% load crispy_forms_tags %}

<form  method="POST" class="form-group">
  {% csrf_token %}
  <div class="w3-container">
    <div class="w3-panel w3-padding-16 w3-black w3-opacity w3-card w3-hover-opacity-off">
      <h2>Track all the shipments here</h2>
      <p></p>
      <label>Enter the tracking number:</label>
      <input class="w3-input w3-border" name="tracking_number" type="number" placeholder="tracking number" required/>
      <button type="button" class="w3-button w3-red w3-margin-top">Search</button>
    </div>
  </div>

</form>

<p>{{message}}</p>

{% if user.is_authenticated %}
{%if searchhistory %}
<table id="customers">
  <tr>
    <th>Tracking Number</th>
    <th>Details</th>
  </tr>
  {% for trackingnum in searchhistory %}
  <tr>
    <td>{{trackingnum.trackingnum.trackingnum}}</td>
    <td><a href="/my_packages/{{trackingnum.trackingnum}}/detail/">Detail</a></td>
  </tr>
  {% endfor %}
</table>
{%endif%}

{% else %}
<p> <a href="/login">Login</a> to view your hisotry track </p>

{% endif %}






{% endblock %}
