{% extends 'ups/base.html' %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}

{% load crispy_forms_tags %}

<div style="text-align:left;">
  <a href="javascript:history.go(-1);" class="button">Back</a> 
</div>

<h1 class="child">Track all the shipments here</h1>

<canvas id="my-canvas" width="600" height="500"></canvas>
<img id="truck" width="300" height="200" src="{% static 'ups/images/delivery-truck.png' %}?ver=2" alt="My truck" style="display: none;">
<var id="trucks">{{trucks_serialize}}</var>

<script src="{% static 'ups/javascripts/track_shipment_scripts.js' %}"></script>

<form method="POST" class="form-group">
  {% csrf_token %}
  Please enter the tracking number:
  <br/>
  <input name="tracking_number" type="number" placeholder="tracking number" size="60" required/>
  <br/><br/>

  <button type="submit" class="button">Search</button>
  <br/><br/>

  <p>{{message}}</p>

  {% if packages %}
  <table id="customers">
    <tr>
      <th>Tracking Number</th>
      <th>Package Status</th>
      <th>Ownership</th>
      <th>Source Warehouse</th>
      <th>Delivered by</th>
      <th>Destination Address</th>
    </tr>
    {% for package in packages %}
    <tr>
      <td>{{package.trackingnum}}</td>
      <td>{{package.status}}</td>

      {% if package.accountid %}
      <td>User {{package.accountid.accountId}} - {{package.accountid.username}}</td>
      {% else %}
      <td>Anonymous User</td>
      {% endif %}

      <td>#{{package.warehouseid}}</td>
      <td>Truck {{package.truckid.truckid}}: {{package.truckid.status}}</td>
      <td>({{package.destx}}, {{package.desty}})</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  {% if searchhistory %}
  <table id="customers">
    <tr>
      <th>Tracking Number</th>
      <th>Details</th>
    </tr>
    {% for history in searchhistory %}
    <tr>
      <td>{{history.trackingnum.trackingnum}}</td>
      <td><a href="/my_packages/{{history.trackingnum.trackingnum}}/detail/">Detail</a></td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  
</form>

{% else %}

<p>Already have an account? Login <a href="/login">here</a></p>
<p>Don't have an account? Register <a href="/register">here</a></p>

{% endif %}

{% endblock %}
